astroid==2.3.3
Click==7.0
colorama==0.4.1
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.22.0
pylint==2.4.3
pymongo==3.10.0
PyMySQL==0.9.3
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
typed-ast==1.4.0
Werkzeug==0.15.5
wget==3.2
wrapt==1.11.2
